.map {
  max-height: 400px;
  margin-top: 150px;
}

.maps-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f6f5fc;
  overflow: hidden;
}

#google-maps {
  width: 100%;
  height: 100%;
}
